<ion-view view-title="Playlist">
  <ion-content>
    <h1>Parking</h1>
    <div style="margin-left: 20px;" class="div-foto" div-parking ng-class="{'div-foto-gray': lostConnection}">
      <div ui-parking conf="conf1" left="10" top="10" ui-h="36" ui-w="15" class="teste" ng-class="{livre: vaga1}">A1</div>
      <div ui-parking conf="conf2" left="25" top="10" ui-h="36" ui-w="15" class="teste" ng-class="{livre: vaga2}">A2</div>
      <div ui-parking conf="conf3" left="60" top="10" ui-h="36" ui-w="15" class="teste" ng-class="{livre: vaga3}">B1</div>
      <div ui-parking conf="conf4" left="75" top="10" ui-h="36" ui-w="15" class="teste" ng-class="{livre: vaga4}">B2</div>
    </div>
    <h5 ng-if="lostConnection">Conexão não encontrada</h5>
    <!-- <button onclick="window.plugins.insomnia.keepAwake(success,error)">keep awake</button>
    <button onclick="window.plugins.insomnia.allowSleepAgain()">allow sleep again</button> -->
  </ion-content>
</ion-view>
