<ion-view view-title="merda">
  <ion-content>
    <div class="bar bar-header bar-assertive">
      <h1 class="title">Easy Parking</h1>
      <img src="./img/icon-estacionamento.png" class="header-icon-img">
    </div>
    <div class="content padding has-header">
      <div class="div-foto" div-parking ng-class="{'div-foto-gray': $ctrl.lostConnection}">
        <div ui-parking conf="$ctrl.labelA" class="div-label-vagas label-vagas">Setor A</div>
        <div ui-parking conf="$ctrl.labelB" class="div-label-vagas label-vagas">Setor B</div>
        <div ui-parking conf="$ctrl.confA1" class="div-vaga label-vagas" ng-class="{livre: $ctrl.vaga1}">A1</div>
        <div ui-parking conf="$ctrl.confA2" class="div-vaga label-vagas" ng-class="{livre: $ctrl.vaga2}">A2</div>
        <div ui-parking conf="$ctrl.confB1" class="div-vaga label-vagas" ng-class="{livre: $ctrl.vaga3}">B1</div>
        <div ui-parking conf="$ctrl.confB2" class="div-vaga label-vagas" ng-class="{livre: $ctrl.vaga4}">B2</div>
      </div>
      <div ng-if="!$ctrl.lostConnection">
        <h5 class="">Setor A: {{$ctrl.setorA}}</h5>
        <h5 class="">Setor B: {{$ctrl.setorB}}</h5>
      </div>
      <h5 ng-if="$ctrl.lostConnection">Conexão não encontrada</h5>
    </div>
  </ion-content>
</ion-view>
